Figures/Manual-validation/isoquant*
Figures/Functional-characterisation/interproscan-data-5.73-104.0.tar.gz
Figures/Functional-characterisation/output
Figures/Functional-characterisation/input
Figures/Functional-characterisation/temp
Figures/Functional-characterisation/interproscan-5.73-104.0
Figures/Functional-characterisation/STref_transcripts.agat.log
Figures/Functional-characterisation/interproscan_5.73-104.0.sif
